{% extends 'base.html' %}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{% block content %}
<div class="card text-center">
  <div class="card-header">
    Profile Info
  </div>
  <div class="card-body">
    <h4 class="card-title">{{ profile.user.username }}</h4>
    <p class="card-text">
        {% if profile.user.status == true %}
          <p><b>Status: </b>Verified</p>
      {% else %}
       <p><b>Status: </b>Not Verified</p>

      {% endif %}
  </p>
{#    <a href="#" class="btn btn-primary">Go somewhere</a>#}
  </div>
  <div class="card-footer text-muted">

      <b>Joining date: </b>{{ profile.user.date_joined }}
  </div>
</div>


{#    <p>{{ profile.user.username }}</p>#}
{#    <p>{{ profile.status }}</p>#}
{#    <p>{{ profile.user.date_joined }}</p>#}
{% endblock content %}
{#</body>#}
</html>