{% extends 'base.html' %}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{% block content %}
<div class="card text-center">
  <div class="card-header">
    Profile Info
  </div>
  <div class="card-body">
    <h4 class="card-title">{{ profile.user.username }}</h4>
    <p class="card-text">
        {% if profile.status %}
          <p><b>Status: </b>Verified</p>
        {% else %}
         <p><b>Status: </b>Not Verified</p>
        {% endif %}


  </p>
{#    <a href="#" class="btn btn-primary">Go somewhere</a>#}
  </div>
  <div class="card-footer text-muted">

      <b>Joining date: </b>{{ profile.user.date_joined }}
  </div>
</div>
{#    {% if complain != "" %}#}
{##}
{#        <div class="alert alert-dark" role="alert" style="text-align: center; background-color: #70c3cb" style="margin-bottom: 2%">#}
{#             Complain History#}
{#        </div>#}
{#       {% for c in complain %}#}
{#            <div class="card mb-3" style="border: 6px solid #100367">#}
{#            {% if c.image.url != null %}#}
{#                <img src="{{ c.image.url }}" class="card-img-top" alt="complain-img"  height="230px">#}
{#            {% else %}#}
{#                 <p class="card-text"></p>#}
{#            {% endif%}#}
{##}
{#            <div class="card-body">#}
{#            <h5 class="card-title" style="color: darkred">{{ c.user }}</h5>#}
{#            <p class="card-text" style="color:#555;"> {{ c.description }}</p>#}
{#            <p class="card-text"><small class="text-muted">{{ c.type }}</small></p>#}
{#            <p class="card-text"><small ><span style="color: green">UpVote:</span> {{ c.num_vote_up }}</small></p>#}
{#            <p class="card-text"><small ><span style="color: red">DownVote:</span>  {{ c.num_vote_down }}</small></p>#}
{#             <div>#}
{#            <a href="{{c.id}}"><button type="button" class="btn btn-outline-info">Details</button></a>#}
{#            </div>#}
{#            </div>#}
{##}
{#            </div>#}
{##}
{#       {% endfor %}#}
{##}
{#    {% endif%}#}

{#    <p>{{ profile.user.username }}</p>#}
{#    <p>{{ profile.status }}</p>#}
{#    <p>{{ profile.user.date_joined }}</p>#}
{% endblock content %}
{#</body>#}
</html>