{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" type="text/css" href="{% static 'home/footer/footercss.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>C2C</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 50px;">
    <a class="navbar-brand" href="#">Click to Complain</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
            {% if user.is_authenticated %}
                {% if userStatus == 'Verified' %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                    </li>

                     <li class="nav-item active">
                        <a class="nav-link" href="{% url 'submitcompalin' %}" name="complain_submit">Submit Complain</a>
                    </li>

                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                           data-toggle="dropdown" aria-expanded="false">
                            Complaints
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="{% url 'complainList' %}">Pending Complaints</a></li>
                            <li><a class="dropdown-item" href="{% url 'showSolvedComplains' %}">Solved Complaints</a></li>
                        </ul>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'info' %}">Info<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'faq' %}">FAQ<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'logout' %}" name="logout">Logout<span class="sr-only">(current)</span></a>
                    </li>

                {% endif %}

                {% if userStatus == 'notVerified' %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                         <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'send_mail' %}">Verify Yourself<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'info' %}">Info<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'faq' %}">FAQ<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'logout' %}" name="logout">Logout<span class="sr-only">(current)</span></a>
                    </li>


                {% endif %}
                {% if userStatus == 'Admin' %}
                    <li class="nav-item active">
                         <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                         <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                           data-toggle="dropdown" aria-expanded="false">
                            Complaints
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="{% url 'complainList' %}">Pending Complaints</a></li>
                            <li><a class="dropdown-item" href="{% url 'showSolvedComplains' %}">Solved Complaints</a></li>
                        </ul>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'info' %}">Info<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'faq' %}">FAQ<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'logout' %}" name="logout">Logout<span class="sr-only">(current)</span></a>
                    </li>


                {% endif %}
            {% else %}
                <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                        <a class="nav-link" href="{% url 'registration' %}" name="register">Register <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                        <a class="nav-link" href="{% url 'login' %}">Login <span class="sr-only">(current)</span></a>
                </li>


            {% endif %}

        </ul>

        <form class="d-flex" method="POST" action="{% url 'complainList' %}">
        {% csrf_token %}
          <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
            <li class="nav-item active">
                 {% if user.is_authenticated %}
                     <a class="nav-link" href="#"> {{ user.username }} <span class="sr-only">(current)</span></a>
{#                            {{ user.username }}#}
                 {% else %}
                     <a class="nav-link" href="#">Stranger! <span class="sr-only">(current)</span></a>
                 {% endif %}
             </li>
          </ul>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

{#<div>#}
{#    {% if user.is_authenticated %}#}
{##}
{#        <a href="{% url 'profile' %}">Profile</a><br>#}
{#        <a href="{% url 'logout' %}">Logout</a><br>#}
{#        <a href="{% url 'send_mail' %}">Verify Profile</a><br>#}
{#    {% else %}#}
{#        <a href="{% url 'register' %}">Register</a> <br>#}
{#        <a href="{% url 'login' %}">Login</a>#}
{#    {% endif %}#}
{#</div>#}

{#<div>#}
{#    Hello!#}
{#    {% if user.is_authenticated %}#}
{#        {{ user.username }}#}
{#    {% else %}#}
{#        Stranger!#}
{#    {% endif %}#}
{#</div>#}

<div class="container">
    {% block content %}

    {% endblock content %}
</div>

<div class="d-flex justify-content-center" style="margin-top: 20px;">
   <script>
    document.write('<a href=" ' + document.referrer + ' ">Go Back</a>');
</script>
</div>

{#<script>#}
{##}
{#    document.write('<a href=" ' + document.referrer + ' ">Go Back</a>');#}
{#</script>#}
<br>

{#<a href="javascript:history.back()">Go Back</a>#}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>


</body>
{#footer#}
      <!-- Site footer -->
    <footer class="site-footer" style="margin-top: 50px;">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">
                The main goal is to build a system where everyone can easily file their complaint without any
                hesitation or hassle.
                The platform will be less time consuming for both students and the authority.
            </p>
          </div>

{#          <div class="col-xs-6 col-md-3">#}
{#            <h6>Categories</h6>#}
{#            <ul class="footer-links">#}
{#              <li><a href="http://scanfcode.com/category/c-language/">C</a></li>#}
{#              <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>#}
{#              <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>#}
{#              <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>#}
{#              <li><a href="http://scanfcode.com/category/android/">Android</a></li>#}
{#              <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>#}
{#            </ul>#}
{#          </div>#}

          <div class="col-xs-6 col-md-3">
              <h4>Address</h4>
            <p>A,Green Road,<br>
             Dhaka-1205,<br>
             Bangladesh<br>
             PABX:+8802-5874/A,<br>
             Green Road,Dhaka-1205,<br>
             Bangladesh<br>
             PABX:+880258157091-4,6<br>
            </p>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright: 2021 All Rights Reserved by C2C
            </p>
          </div>

{#          <div class="col-md-4 col-sm-6 col-xs-12">#}
{#            <ul class="social-icons">#}
{#              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>#}
{#              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>#}
{#              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>#}
{#              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>#}
{#            </ul>#}
{#          </div>#}
        </div>
      </div>
</footer>


</html>